#dashboard .wrapper {
    max-width: 1400px;
}

#dashboard .dashboard-con {
    padding: 100px 0;
}

#dashboard .post-header-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
}