#dashboard .wrapper {
    max-width: 800px;
}

#dashboard .dashboard-con {
    padding: 100px 0;
}

#dashboard .post-header-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#dashboard .post-widget {
    margin-bottom: 20px;
    background: var(--global-color-white);
    border-radius: 20px;
    padding: 15px;
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
        drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

#dashboard .widget-footer-con {
    margin-top: 20px;
    border-top: 1px solid var(--global-color-primary);
    border-bottom: 1px solid var(--global-color-primary);
}

#dashboard .widget-header-con {
    display: flex;
    justify-content: space-between;
}

#dashboard .widget-header-con p {
    font-size: 14px;
    font-weight: 600;
}

#dashboard .post-details {
    margin: 10px 0;
}

#dashboard .widget-header-con span {
    font-size: 12px;
}

#dashboard .footer-nav {
    display: flex;
    justify-content: space-around;
}

#dashboard .footer-nav > div {
    padding: 10px;
    flex: 1;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    transition: 0.2s;
    margin: 3px;
}

#dashboard .footer-nav > div:hover {
    background: #d4d4d4;
}
